<header class="main-header">
  <nav class="main-header__navbar">
    <ul>
      <li class="main-header__navItems">
        <a href="/products" class="main-header__navLink">📦 Products</a>
      </li>
      <li class="main-header__navItems">
        <a href="/admin/add-product" class="main-header__navLink"
          >➕ Add Product</a
        >
      </li>
    </ul>
  </nav>
</header>
